@import "tailwindcss";
@import "tw-animate-css";
@source "../../node_modules/@blocknote/shadcn";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
  --background: oklch(0.991 0.0041 91.4454);
  --foreground: oklch(0.3012 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3012 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3012 0 0);
  --primary: oklch(0.541 0.094 47.9965);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9563 0.0062 75.4061);
  --secondary-foreground: oklch(0.3012 0 0);
  --muted: oklch(0.9738 0.0045 78.2982);
  --muted-foreground: oklch(0.5698 0.0112 87.5104);
  --accent: oklch(0.9373 0.0131 71.3261);
  --accent-foreground: oklch(0.3012 0 0);
  --destructive: oklch(0.6248 0.1939 24.7189);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9305 0.0086 67.7194);
  --input: oklch(1 0 0);
  --ring: oklch(0.8337 0.027 71.1392);
  --chart-1: oklch(0.541 0.094 47.9965);
  --chart-2: oklch(0.6672 0.0942 53.262);
  --chart-3: oklch(0.7841 0.0954 56.3677);
  --chart-4: oklch(0.8745 0.0657 70.5371);
  --chart-5: oklch(0.9516 0.0277 76.21);
  --sidebar: oklch(97.96% 0.002 67.8);
  --sidebar-foreground: oklch(0.3012 0 0);
  --sidebar-primary: oklch(0.541 0.094 47.9965);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9563 0.0062 75.4061);
  --sidebar-accent-foreground: oklch(0.3012 0 0);
  --sidebar-border: oklch(0.9305 0.0086 67.7194);
  --sidebar-ring: oklch(0.8337 0.027 71.1392);
  --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --font-mono: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.8rem;
  --shadow-spread: 0.1rem;
  --shadow-opacity: 0.04;
  --shadow-color: #000000;
  --shadow-2xs: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.02);
  --shadow-xs: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.02);
  --shadow-sm: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.04),
    0 1px 2px -0.9px hsl(0 0% 0% / 0.04);
  --shadow: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.04),
    0 1px 2px -0.9px hsl(0 0% 0% / 0.04);
  --shadow-md: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.04),
    0 2px 4px -0.9px hsl(0 0% 0% / 0.04);
  --shadow-lg: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.04),
    0 4px 6px -0.9px hsl(0 0% 0% / 0.04);
  --shadow-xl: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.04),
    0 8px 10px -0.9px hsl(0 0% 0% / 0.04);
  --shadow-2xl: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.1);
  --tracking-normal: 0;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2138 0.0042 84.5889);
  --foreground: oklch(0.9551 0 0);
  --card: oklch(0.2565 0.004 84.5842);
  --card-foreground: oklch(0.9551 0 0);
  --popover: oklch(0.2565 0.004 84.5842);
  --popover-foreground: oklch(0.9551 0 0);
  --primary: oklch(0.6978 0.0999 46.8591);
  --primary-foreground: oklch(0.2138 0.0042 84.5889);
  --secondary: oklch(0.3356 0.0089 67.5171);
  --secondary-foreground: oklch(0.9551 0 0);
  --muted: oklch(0.2904 0.0046 67.644);
  --muted-foreground: oklch(0.7582 0.0078 80.717);
  --accent: oklch(0.3188 0.0082 75.2774);
  --accent-foreground: oklch(0.9551 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3937 0.0107 67.5093);
  --input: oklch(0.2565 0.004 84.5842);
  --ring: oklch(0.526 0.0105 78.237);
  --chart-1: oklch(0.6978 0.0999 46.8591);
  --chart-2: oklch(0.5851 0.0796 47.2703);
  --chart-3: oklch(0.4666 0.0588 49.2183);
  --chart-4: oklch(0.3428 0.035 55.6229);
  --chart-5: oklch(0.2612 0.0238 49.587);
  --sidebar: oklch(0.2565 0.004 84.5842);
  --sidebar-foreground: oklch(0.9551 0 0);
  --sidebar-primary: oklch(0.6978 0.0999 46.8591);
  --sidebar-primary-foreground: oklch(0.2138 0.0042 84.5889);
  --sidebar-accent: oklch(0.3356 0.0089 67.5171);
  --sidebar-accent-foreground: oklch(0.9551 0 0);
  --sidebar-border: oklch(0.3937 0.0107 67.5093);
  --sidebar-ring: oklch(0.526 0.0105 78.237);
  --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --font-mono: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.8rem;
  --shadow-spread: 0.1rem;
  --shadow-opacity: 0.35;
  --shadow-color: #000000;
  --shadow-2xs: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.17);
  --shadow-xs: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.17);
  --shadow-sm: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.35),
    0 1px 2px -0.9px hsl(0 0% 0% / 0.35);
  --shadow: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.35),
    0 1px 2px -0.9px hsl(0 0% 0% / 0.35);
  --shadow-md: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.35),
    0 2px 4px -0.9px hsl(0 0% 0% / 0.35);
  --shadow-lg: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.35),
    0 4px 6px -0.9px hsl(0 0% 0% / 0.35);
  --shadow-xl: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.35),
    0 8px 10px -0.9px hsl(0 0% 0% / 0.35);
  --shadow-2xl: 0 0.25rem 0.8rem 0.1rem hsl(0 0% 0% / 0.88);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.bn-container[data-theming-css-variables-demo][data-color-scheme] {
  --bn-colors-editor-background: var(--color-background);
}
